/* TELA PRINCIPAL */
#tela {
    width: 800px;               
    height: 120px;              
    margin: 40px auto;          
    background-color: #c0c0c0;  /* Fundo acinzentado */
    border: 3px solid #333;
    overflow: hidden;
    position: relative;
}

/* LETREIRO */
#letreiro {
    position: absolute;
    font-size: 24px;
    font-weight: bold;
    white-space: nowrap;
    padding: 10px 20px;
    background-color: #d6a5ff;
    border-radius: 8px;
    border: 2px solid #8e64b1;
    left: 0;
    /* Centralizar verticalmente */
    top: 50%;
    transform: translateY(-50%);
}
